body, html {
  overflow: hidden;
}
#react-mount {
  font-family: 'Lato', sans-serif;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
}
.wiki-container {
  padding: 80px 0 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
  color: #006400;
}
a:hover {
  text-decoration: underline;
}
.wiki-header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fff;
}
.wiki-header a {
  color: #fff;
}
.wiki-header a:hover {
  color: #006400;
}
.wiki-header img {
  margin-top: 30px;
  width: 270px;
}
.wiki-header span {
  position: absolute;
}
.article-content {
  width: 95%;
  margin: 40px auto 0;
}
.wiki-selector {
  position: fixed;
  top: 50px;
}
.wiki-selector select {
  width: 95%;
}
.wiki-aside {
  width: 80%;
  margin: 0 auto;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 5px;
  padding: 15px 15px 0;
}
.searchBar {
  width: auto;
  padding: 5px;
  background-color: lightgray;
  font-size: 20px;
  color: darkgreen;
  border-color: lightgray;
  border-style: solid;
}
.articlesList ul {
  list-style: none;
  padding-left: 15px;
  height: 11em;
  overflow-y: scroll;
  text-transform: capitalize;
  width: auto;
  padding-right: 300px;
  margin-right: -300px;
}
.articlesList ul:empty:before {
  content:"Not match found";
  font-weight: bold;
  font-size: 2em;
}
.emojione {
  width: 1em;
}
img {
  max-width: 100%;
  height: auto;
}
.wiki-selector {
  display: none;
}
.markdown {
  margin: 5%;
}
h1:first-of-type {
  text-align: center;
}
input.searchBar {
  width: 97%;
  border-color: lightgray;
}
input.searchBar:focus {
  border-color: transparent;
  outline: 0 none;
}
.articlesList {
  overflow: hidden;
  margin-bottom: -2em;
}
.fadeout {
  position: relative;
  bottom: 2.5em;
  height: 1.5em;
  pointer-events: none;
  background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: darkgreen;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: darkgreen;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: darkgreen;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: darkgreen;
}
